@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200&family=Nunito:wght@400;600&display=swap');

:root {
  --green-100: #16db65;
  --green-50: #04471c;
  --white-100: #ffffff;
  --gray-50: #d8d8d8;
  --black-100: #020202;

  font: 400 62.5% Lexend, sans-serif;

  /* 
    font-family: 'Lexend', sans-serif; Main Text 400
    font-family: 'Nunito', sans-serif;  600 - H1 | 400 - H2,  H3
    font-size: 62.5% == 10px;
  */
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  overflow: hidden;
}

header#inicio,
footer {
  width: 100vw;

  display: flex;
  align-items: center;

  position: fixed;
  /* background-color: #16db65; */
}

header#inicio {
  justify-content: center;
  top: 0;
}

footer {
  justify-content: space-around;
  bottom: 0;
}

main {
  display: flex;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  min-width: 100vw;
}

img {
  /* display: none; */
  width: 50px;
}
